<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>asif-project1</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>org.ecom.controller.UserController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/user/list</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>employeeServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>employeeServlet</servlet-name>
		<url-pattern>/employeeController/list</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreditCardServlet</servlet-name>
		<servlet-class>org.ecom.controller.CreditCardController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreditCardServlet</servlet-name>
		<url-pattern>/CreditCard/list</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>deleteServlet</servlet-name>
		<servlet-class>org.ecom.controller.UserDeleteController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>deleteServlet</servlet-name>
		<url-pattern>/user/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>employeeDeleteServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeDeleteController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>employeeDeleteServlet</servlet-name>
		<url-pattern>/employeeDeleteController/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreditCardDeleteServlet</servlet-name>
		<servlet-class>org.ecom.controller.CreditCardDeleteController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreditCardDeleteServlet</servlet-name>
		<url-pattern>/CreditCard/Delete</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>createServlet</servlet-name>
		<servlet-class>org.ecom.controller.UserCreateController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>createServlet</servlet-name>
		<url-pattern>/user/add</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>employeeCreateServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeCreateController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>employeeCreateServlet</servlet-name>
		<url-pattern>/employeeCreateController/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreditCardCreateServlet</servlet-name>
		<servlet-class>org.ecom.controller.CreditCardCreateController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreditCardCreateServlet</servlet-name>
		<url-pattern>/CreditCard/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateServlet</servlet-name>
		<servlet-class>org.ecom.controller.UserUpdateController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>updateServlet</servlet-name>
		<url-pattern>/user/update</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>employeeUpdateServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeUpdateController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>employeeUpdateServlet</servlet-name>
		<url-pattern>/employeeUpdateController/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreditCardUpdateServlet</servlet-name>
		<servlet-class>org.ecom.controller.CreditCardUpdateController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreditCardUpdateServlet</servlet-name>
		<url-pattern>/CreditCard/Update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>detailServlet</servlet-name>
		<servlet-class>org.ecom.controller.UserDetailController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>detailServlet</servlet-name>
		<url-pattern>/user/detail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>moneyServlet</servlet-name>
		<servlet-class>org.ecom.controller.MoneyController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>moneyServlet</servlet-name>
		<url-pattern>/MoneyDetail/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>delmoneyServlet</servlet-name>
		<servlet-class>org.ecom.controller.MoneyDetailDeleteController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>delmoneyServlet</servlet-name>
		<url-pattern>/MoneyDetail/delete</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>employeeDetailServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeDetailController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>employeeDetailServlet</servlet-name>
		<url-pattern>/employeeDetailController/detail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreditCardDetailServlet</servlet-name>
		<servlet-class>org.ecom.controller.CreditCardDetailController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreditCardDetailServlet</servlet-name>
		<url-pattern>/CreditCard/Detail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>createmoneyServlet</servlet-name>
		<servlet-class>org.ecom.controller.MoneyDetailCreateController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>createmoneyServlet</servlet-name>
		<url-pattern>/MoneyDetail/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updmoneyServlet</servlet-name>
		<servlet-class>org.ecom.controller.MoneyDetailUpdateController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>updmoneyServlet</servlet-name>
		<url-pattern>/MoneyDetail/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userSearchServlet</servlet-name>
		<servlet-class>org.ecom.controller.UserSearchController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userSearchServlet</servlet-name>
		<url-pattern>/user/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>employeeSearchServlet</servlet-name>
		<servlet-class>org.ecom.controller.EmployeeSearchController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>employeeSearchServlet</servlet-name>
		<url-pattern>/employeeSearchController/search</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreditCardSearchServlet</servlet-name>
		<servlet-class>org.ecom.controller.CreditCardSearchController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreditCardSearchServlet</servlet-name>
		<url-pattern>/CreditCard/Search</url-pattern>
	</servlet-mapping>
</web-app>